<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/autotestmate/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="autotestmate" />
            <add key="ClearTextPassword" value="6ab9e025784a34344dd8549f0060ae42e5d3ae83" />
        </github>
    </packageSourceCredentials>
</configuration>