<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/autotestmate/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="autotestmate" />
            <add key="ClearTextPassword" value="500574ab39a1a21af0045e4924bfa8d99576f492" />
        </github>
    </packageSourceCredentials>
</configuration>