<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/autotestmate/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="autotestmate" />
            <add key="ClearTextPassword" value="5aaeb51376b6c0c3cbad28bf948c851f5be46fd8" />
        </github>
    </packageSourceCredentials>
</configuration>